# API URLs
NEXT_PUBLIC_API_PROD=production_api_urm
NEXT_PUBLIC_API_DEV=staging_api_url
NEXT_PUBLIC_API=local_api_url

# NextAuth configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# Google OAuth credentials
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Discord OAuth credentials
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_CLIENT_SECRET=your_discord_client_secret_here

# IMPORTANT NOTE FOR DISCORD OAUTH2: 
# YOU MUST ADD CORRESPONDING CALLBACK URLS
# TO THE EXISTING DISCORD OAUTH2 APP IN DEVELOPMENT PORTAL ENDPOINT IS : api/auth/callback/discord
# EX FOR PRODUCTION: https://defendr.gg/api/auth/callback/discord
# EX FOR LOCAL: http://localhost:3000/api/auth/callback/discord

#PORT
PORT=